.stat-item {
  width: 18%;
}
.stat-item .progress {
  height: 0.25rem;
}

.statistics .card {
  background-color: white;
}

.statistics .filter {
  position: absolute;
  right: 0px;
  top: 15px;
}

.statistics .filter .icon {
  color: #aab7cf;
  padding-right: 20px;
  padding-bottom: 5px;
  transition: 0.3s;
  font-size: 16px;
}

.statistics .filter .icon:hover,
.statistics .filter .icon:focus {
  color: #4154f1;
}

.statistics .filter .dropdown-header {
  padding: 8px 15px;
}

.statistics .filter .dropdown-header h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #aab7cf;
  margin-bottom: 0;
  padding: 0;
}

.statistics .filter .dropdown-item {
  padding: 8px 15px;
}

/* Info Cards */
.statistics .info-card {
  padding-bottom: 10px;
}

.statistics .info-card h6 {
  font-size: 28px;
  color: #012970;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.statistics .card-icon {
  font-size: 16px;
  line-height: 0;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  flex-grow: 0;
}

.statistics .sales-card .card-icon {
  color: #4154f1;
  background: #f6f6fe;
}

.stat-graph {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.truncated {
  display: inline-block;
  max-width: 100px; /* Adjust this based on your layout */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  cursor: pointer;
  vertical-align: middle; /* Ensure it aligns well with surrounding elements */
}

.truncated::after {
  content: attr(data-full-text); /* Display full text */
  position: absolute;
  left: 50%; /* Center the tooltip horizontally */
  transform: translateX(-50%); /* Shift it to truly center */
  top: 120%; /* Position the tooltip below the text */
  background-color: rgba(0, 0, 0, 0.8); /* Tooltip background */
  color: #fff; /* Tooltip text color */
  padding: 6px 8px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 9999; /* Ensure tooltip is on top of all other elements */
}

.truncated:hover::after {
  visibility: visible;
  opacity: 1;
}

.dashboard .btn-warning {
  background: rgba(250, 188, 63, 0.5) !important;
  border: 1px solid rgba(236, 168, 11, 1) !important;
}
.dashboard .btn-info {
  background-color: rgba(118, 149, 255, 0.5);
  border: 1px solid rgb(118, 149, 255);
}
