.analytics .card-title {
  text-wrap: nowrap;
  overflow: hidden;
}

.analytics .apexcharts-menu-icon {
  display: none;
}

.analytics .bg-success {
  background-color: rgba(25, 135, 84, 0.3) !important;
  cursor: pointer;
}
.analytics .bg-danger {
  background-color: rgba(220, 53, 69, 0.3) !important;
  cursor: pointer;
}
.analytics .form-select {
  border: none;
  box-shadow: none;
}

.analytics option {
  border: none;
}

.analytics .stakeholders {
  background-color: inherit;
}
