/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

* {
  box-sizing: border-box;
  outline: none;
}

:root {
  scroll-behavior: smooth;
  --background-color: #fcf8f3;
  --default-color: #333333;
  --accent-color: #219c90;
  --sidebar-blue: #3572ef;
  --accent-color-hover: #219c90;
  --surface-color: #f9f9f9;
  --background-color-deep: #f5f7f8;
  --background-color-deep-hover: #f2f2f2;
  --danger-color: #f5004f;
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "League Spartan", sans-serif;
}

body {
  font-family: var(--font-primary);
  background: var(--background-color);
  color: var(--default-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color-hover);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul > li {
  padding: 0;
  margin: 0;
}
.bg-dark {
  background-color: var(--default-color) !important;
  color: var(--background-color) !important;
}

.btn-primary,
.bg-primary {
  background: var(--accent-color) !important;
  border: none !important;
}

.btn-primary:hover {
  background: var(--accent-color-hover) !important;
  color: var(--surface-color) !important;
}

.btn-primary-outline {
  background: transparent !important;
  border: 1px solid var(--accent-color) !important;
  color: var(--accent-color) !important;
}

.btn-primary-outline:hover {
  background: var(--accent-color) !important;
  color: var(--surface-color) !important;
  border: 1px solid var(--accent-color-hover) !important;
}

.text-primary {
  color: var(--accent-color) !important;
}
.border-primary {
  border-color: var(--accent-color) !important;
}

.d-flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#main {
  padding: 20px 30px;
  transition: all 0.3s;
  min-height: 95vh;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

.list-group-item,
.card {
  background: var(--background-color);
}
.card {
  border: none;
  box-shadow: 2px 2px 4px 0px rgba(235, 235, 235, 1);
}

.form-control,
.form-control:focus {
  box-shadow: none;
  border: 1px solid #ccc;
}
.form-select {
  border: none !important;
  box-shadow: none !important;
}

::-webkit-scrollbar {
  width: 0;
}
