/*--------------------------------------------------------------
    # Sidebar
    --------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 230px;
  z-index: 996;
  transition: all 0.3s;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) transparent;
  background-color: var(--default-color);
}

.sidebar-logo {
  height: 130px;
  background: var(--danger-color);
}
.sidebar-logo .logo-container {
  height: 100%;
}

.sidebar-logo .img-container {
  height: 60%;
  background-color: rgba(242, 157, 184, 0.5);
  border-radius: 50%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-logo .img-container img {
  display: block;
  max-width: 70%;
  max-height: 70%;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: var(--background-color);
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--accent-color-hover);
}

@media (min-width: 1200px) {
  #main,
  #header,
  #footer {
    margin-left: 230px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-bottom: 5px;
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transform: rotate(-90deg);
  transition: transform 0.2s ease-in-out;
  font-size: 0.75rem;
}

.sidebar-nav .nav-item.open .active .bi-chevron-down {
  transform: rotate(-180deg);
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  color: var(--background-color-deep);
  transition: 0.3;
  background: var(--default-color);
  padding: 10px 15px;
  border-radius: 4px;
}

.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: var(--background-color-deep);
}

.sidebar-nav .nav-link:hover {
  background: rgba(52, 114, 239, 0.2);
}

.sidebar-nav .nav-link.active {
  color: var(--sidebar-blue);
  background: rgba(52, 114, 239, 0.2);
}

.sidebar-nav .nav-link.active i {
  color: var(--sidebar-blue);
}

.sidebar-nav .nav-link.has-children i,
.sidebar-nav .nav-link.has-children {
  color: var(--background-color-deep);
  background: none;
}

.sidebar-nav .nav-link.has-children:hover {
  background: rgba(52, 114, 239, 0.2);
}
.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  transition: 0.3;
  color: var(--background-color-deep);
  padding: 10px 0 10px 40px;
  transition: 0.3s;
}

.sidebar-nav .nav-content a i {
  font-size: 0.75rem;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: var(--accent-color);
  background: rgba(52, 114, 239, 0.2);
}

.toggle-sidebar #main,
.toggle-sidebar #header,
.toggle-sidebar #footer {
  margin-left: 50px;
}

.toggle-sidebar .sidebar {
  width: 50px;
  padding-top: 16px !important;
}

.toggle-sidebar .lg-screen-logo {
  display: none !important;
}

.toggle-sidebar .sm-screen-logo {
  display: flex !important;
}

.toggle-sidebar .sidebar-nav .nav-link {
  padding: 10px 0;
}
.toggle-sidebar .sidebar-nav .nav-link span {
  display: none;
}
.toggle-sidebar .sidebar-nav .nav-link:hover {
  color: var(--accent-color-hover);
  background: var(--heading-color);
}
